<% if current_user.favorites && current_user.favorites.include?(color_scheme) %>
  <span class="fa fa-star star-icon"></span><%= link_to "Unfavorite", user_favorite_path(current_user, color_scheme, type: "unfavorite"), method: :put %>
<% else %>
  <span class="fa fa-star-o star-icon"></span><%= link_to "Favorite", user_favorite_path(current_user, color_scheme, type: "favorite"), method: :put %>
<% end %>
