<% if current_user.favorites.include?(fav) %>
  <span class="fa fa-star star-icon"></span><%= link_to "Unfavorite", user_favorite_path(current_user, fav, type: "unfavorite"), method: :put %>
<% else %>
  <span class="fa fa-star-o star-icon"></span><%= link_to "Favorite", user_favorite_path(current_user, fav, type: "favorite"), method: :put %>
<% end %>
