<div class="container">

  <h1>Favorites</h1>
  <% current_user.favorites.each do |fav| %>
    <div class="colors-container">
      <h3 class="u-pull-left"><%= fav.name %></h3>

      <p class="u-pull-right">
        <%= render partial: "favorite", locals: {fav: fav} %>
      </p>
      <div class="row">
        <div class="twelve columns">
          <% fav.colors.each do |c| %>
            <%= content_tag(:div, nil, class: "colors-index-20p", style:"background-color: #{c.hex_code};") %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
