<div class="container">

  <h1><%= @random_scheme.name %></h1>

  <div class="row">
    <div class="twelve columns">
      <% @random_scheme.colors.each do |c| %>
        <% if !c.color_scheme_colors.where(["color_id = ? and color_scheme_id = ?", c.id, @random_scheme.id]).first.color_note.blank? %>
          <div class="colors-index-20p-container tooltip">
            <%= content_tag(:div, nil, class: "colors-index-color", style:"background-color: #{c.hex_code};") %>
            <span class="fa fa-square-o color-note-indicator" aria-hidden="true"></span>
            <div class="colors-note-tooltiptext">
              <%= c.color_scheme_colors.where(["color_id = ? and color_scheme_id = ?", c.id, @random_scheme.id]).first.color_note %>
            </div>
          </div>
        <% else %>
          <div class="colors-index-20p-container">
            <%= content_tag(:div, nil, class: "colors-index-color", style:"background-color: #{c.hex_code};") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
