<div class="container">

  <div class="row">

    <div class="six columns">
      <h2>Your Color Schemes</h2>
        <% current_user.color_schemes.each do |cs| %>
          <%= render partial: "home", locals: {var: cs, cs: cs} %>
        <% end %>
    </div>

    <div class="six columns">
      <h2>Favorite Color Schemes</h2>
        <% current_user.favorites.each do |fav| %>
          <%= render partial: "home", locals: {var: fav, cs: fav} %>
        <% end %>
    </div>

  </div>

</div>
