* {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

input {
  color: #555;
}

body {
  background: #555;
  background: linear-gradient(#777, #ccc);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  height: 50px;
  line-height: 50px;
  margin-bottom: 40px;
  background: #6c6c6c;
}

nav a {
  padding: 0 15px 0 5px;
  border-right: 1px solid #555;
}

nav span {
  padding-left: 10px;
}

nav span.u-pull-left :last-child {
  border-right: none;
}

nav span.u-pull-right :last-child {
  border-right: none;
  margin-right: 15px;
}

.logo {
  vertical-align: middle;
  margin: -2px 0 0 -5px;
  padding: 5px;
}

.cs-form-container {
  position: relative;
}

.width-20p-colors {
  width: 20%;
  float: left;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}

.width-20p-notes {
  position: absolute;
  width: 20%;
  margin-top: 245px;
  float: left;
  height: 20px;
}

.color-note-label {
  position: absolute;
  margin-top: 215px;
}

form.new_color_scheme input[type=submit] {
  margin-top: 100px;
}

form.edit_color_scheme input[type=submit] {
  margin-top: 100px;
}

input[type="text"].tall-input {
  height: 200px;
  color: #fff;
}

.colors-container {
  margin-bottom: 50px;
}

.text-index-100p {
  width: 100%;
  height: 100px;
  float: left;
  text-align: center;
}

.colors-index-20p-container {
  position: relative;
  width: 20%;
  height: 100px;
  float: left;
  text-align: center;
}

.colors-index-20p {
  width: 20%;
  height: 100px;
  float: left;
  text-align: center;
}

.colors-index-color {
  width: 100%;
  height: 100px;
  float: left;
  text-align: center;
}

.colors-index-note {
  position: absolute;
  bottom: 0px;
  right: 4px;
  font-size: 1.1rem;
  color: #eee;
}

span.color-note-indicator {
  position: absolute;
  bottom:7px;
  right: 7px;
  font-size: 6pt;
}

/* Tooltip container */
.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .colors-note-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  border: 1px solid #555;
  color: #555;
  text-align: center;
  padding: 4px 0;
  border-radius: 2px;
  font-size: 1.1rem;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 7px;
  right: 6px;
  margin-left: -60px;

  /* Fade in tooltip */
  /*opacity: 0;
  transition: opacity 1s;*/
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .colors-note-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.colors-container h3 {
  margin-bottom: 2px;
  margin-top: -4px;
}

.colors-container h4 {
  margin-bottom: 2px;
  margin-top: -4px;
}

.colors-container p {
  margin: 8px 1px 0 0;
  color: #999;
  padding-left: 10px;
}

.logintopcontainer {
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.logincontainer{
  border: 1px solid #555;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  border-radius: 4px;
}

.logincontainer p{
  margin-bottom: -20px;
}

a {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.sm a {
  font-size: 1.3rem;
  color: #eee;
}

.icon {
  padding-right: 2px;
}

.star-icon {
  color: #fedd00;
  padding-right: 2px;
}

.field_with_errors :first-child {
  border: 1px solid red;
  margin: 0;
}

.alert-loginerror {
  color: red;
  font-size: 1.2rem;
  margin: 0 10px 15px 10px;
}

.alertcontainer {
  clear: both;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}

.alert-success {
  color: #3ace2f;
  font-size: 1.4rem;
}

.alert-error {
  color: red;
  font-size: 1.4rem;
}
